.main{
	display: flex;
	width: 100%;
}

.right{
	display: flex;
	flex-direction: column;
	float: right;
	height: 500px;
	width: 50%;
	position: relative;
	margin:0;
	padding: 0;
	background-color: red;
	override: none;
	 align-items: stretch;
	align-items: center;
}

.heading{
	height: 20%
	inherit: parent;
	background-color: white;
}

.para1, para2{
	height: 80%
	inherit: parent;
	background-color: green;
	align-item: center;
}

.left{
	display: flex;
	height: 500px;
	width: 50%;
	margin:0;
	padding: 0;
	background-color: blue;
}
